@model IEnumerable<QA_Project.Models.User_Post>


<!-- Reference css for stack overflow view..-->
<link rel="stylesheet" type="text/css" href="~/Content/shared.css">
<link rel="stylesheet" type="text/css" href="~/Content/primary.css">
<link rel="stylesheet" type="text/css" href="~/Content/secondary.css">
<link rel="stylesheet" type="text/css" href="~/Content/clc.min.css">


<div id="content" class="snippet-hidden" style="
        padding-bottom: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    overflow: hidden;
    width: max-content;
    padding-top:60px;
        position: absolute;">

    <div itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">

        <div class="inner-content clearfix">

            <div id="mainbar" role="main" aria-label="question and answers">
                <div class="grid">
                    <div class="grid fl1 mb24">
                        <h6>
                            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                            {
                                <p>
                                    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                    <input type="submit" value="Search" />
                                </p>
                            }


                        </h6>
                    </div>

                    <div class="ml12 aside-cta grid--cell print:d-none">
                        <p class="ws-nowrap s-btn s-btn__primary">
                            @Html.ActionLink("Ask Question", "Create", "User_Post")
                        </p>

                    </div>
                </div>

                <div class="question" id="question">


                    <!-- Question discription here....-->

                    <div class="">

                        @{
                            Html.RenderAction("Single_Post_Partial", new { post_id = (int)@ViewBag.QuestionId });
                        }


                    </div>


                    <div class="post-layout--right" >
                        <div id="comments-58860454" class="comments js-comments-container bt bc-black-2 mt12 "
                             data-post-id="58860454" data-min-length="15">

                            @{
                                Html.RenderAction("Get_All_Comments_Partial", new { post_id = (int)@ViewBag.QuestionId });
                            }
                            <!--Add Comments link here..-->
                            <div id="comments-link" class="main" data-rep="50" data-anon="true">
                                <div>
                                    <div>
                                        <div class="js-add-link comments-link disabled-link open-below-tag opened"
                                             title="Use comments to ask for more information or suggest improvements. Avoid comments like “+1” or “thanks”.">add comment</div>
                                        <div class="hideable">
                                            @using (Html.BeginForm("AddCommentFromSinglePost", "Home", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()

                                                @Html.Hidden("post_id", (int)@ViewBag.QuestionId)
                                                @Html.TextArea("discription", new
                                                      {
                                                          @class = "wid style-textarea wmd-input js-wz-element s-input bar0 js-post-body-field",
                                                          @id = "wmd-input",
                                                          @name = "post-text",
                                                          @cols = "42",
                                                          @rows = "6",
                                                          @tabindex = "101",
                                                          @style = "max-width: 100%;"
                                                      })
                                                <input type="submit" value="Add" />
                                            }
                                        </div>
                                        <style>
                                            .hideable {
                                                visibility: hidden;
                                                height: 0px;
                                            }

                                            .comments-link {
                                                padding-bottom: 3px;
                                                cursor: pointer;
                                            }

                                            .wid {
                                                width: 240px;
                                                max-width: 240px;
                                            }
                                        </style>

                                        <style>
                                            .underline {
                                                border-bottom: 1px solid grey;
                                                padding-top: 3px;
                                                padding-bottom: 0px;
                                            }

                                            .hideable {
                                                visibility: hidden;
                                                height: 0px;
                                            }
                                        </style>
                                    </div>
                                </div>
                                <span class="js-link-separator dno">&nbsp;|&nbsp;</span>

                            </div>
                            @*<script>
                                    var main = document.querySelector(".main");
                                    main.addEventListener('click', function (e) {
                                        if (e.target.nodeName == "DIV") {
                                            var open = e.target;
                                            if (open.classList.contains("open-below-tag") && open.classList.contains("opened")) {
                                                var a = e.target.nextElementSibling;
                                                a.classList.remove("hideable");
                                                open.classList.remove("opened");
                                                open.classList.add("closed");
                                            } else if (open.classList.contains("open-below-tag") && open.classList.contains("closed")) {
                                                var a = e.target.nextElementSibling;
                                                a.classList.add("hideable");
                                                open.classList.add("opened");
                                                open.classList.remove("closed");
                                            }
                                        }
                                    });
                                </script>*@
                        </div>
                    </div>
                </div>


                <div id="dfp-isb" class="everyonelovesstackoverflow everyoneloves__inline-sidebar"
                     style="min-height: auto; height: auto; display: none;"></div>
                <div id="answers">

                    <a name="tab-top"></a>
                    <div id="answers-header">
                        <div class="subheader answers-subheader">
                            <h2 data-answercount="1">
                                <span itemprop="answerCount">@ViewBag.NoOfPost Answers</span>
                            </h2>
                        </div>
                    </div>





                    @foreach (var item in Model)
                    {

                        <a name=@item.Title></a>
                        <div id="answer-58860635" class="answer" data-answerid="58860635" itemprop="suggestedAnswer" itemscope=""
                             itemtype="http://schema.org/Answer">
                            <div class="post-layout">
                                <div class="votecell post-layout--left">


                                    <div class="js-voting-container grid fd-column ai-stretch gs4 fc-black-200" data-post-id="58860454">
                                        <a href="@Url.Action("UpvoteFromAllAns","Home",new { post_id = @item.Id,mainId = (int)@ViewBag.QuestionId})" class="js-vote-up-btn grid--cell s-btn s-btn__unset c-pointer" title="This question shows research effort; it is useful and clear" aria-pressed="false" aria-label="up vote" data-selected-classes="fc-theme-primary">
                                            <svg aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36">
                                                <path d="M2 26h32L18 10 2 26z"></path>
                                            </svg>
                                        </a>
                                        <div class="js-vote-count grid--cell fc-black-500 fs-title grid fd-column ai-center" itemprop="upvoteCount" data-value="0">@item.Voted_Count</div>
                                        <a href="@Url.Action("DownvoteFromAllAns",new { post_id = @item.Id,mainId = (int)@ViewBag.QuestionId})" class="js-vote-down-btn grid--cell s-btn s-btn__unset c-pointer" title="This question does not show any research effort; it is unclear or not useful" aria-pressed="false" aria-label="down vote" data-selected-classes="fc-theme-primary">
                                            <svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36" viewBox="0 0 36 36">
                                                <path d="M2 10h32L18 26 2 10z"></path>
                                            </svg>
                                        </a>

                                        <button class="js-favorite-btn s-btn s-btn__unset c-pointer py8 js-gps-track" aria-pressed="false" aria-label="favorite" data-selected-classes="fc-yellow-600" data-gps-track="post.click({ item: 1, priv: 0, post_type: 1 })">
                                            <svg aria-hidden="true" class="svg-icon iconStar" width="18" height="18" viewBox="0 0 18 18">
                                                <path d="M9 12.65l-5.29 3.63 1.82-6.15L.44 6.22l6.42-.17L9 0l2.14 6.05 6.42.17-5.1 3.9 1.83 6.16L9 12.65z">
                                                </path>
                                            </svg>
                                            <div class="js-favorite-count mt8" data-value=""></div>
                                        </button>


                                    </div>

                                </div>

                                <!--Answer text here..-->
                                <div class="answercell post-layout--right">

                                    <div class="post-text" itemprop="text">
                                        <p>
                                            @item.Discription
                                        </p>
                                    </div>
                                    <div class="grid mb0 fw-wrap ai-start jc-end gs8 gsy">
                                        <time itemprop="dateCreated" datetime="2019-11-14T15:42:14"> Last posted time here!!</time>
                                        <div class="grid--cell mr16" style="flex: 1 1 100px;">
                                            <div class="post-menu">
                                                <a href="/a/58860635" itemprop="url" class="js-share-link js-gps-track"
                                                   title="short permalink to this answer"
                                                   data-gps-track="post.click({ item: 2, priv: 0, post_type: 2 })"
                                                   data-controller="se-share-sheet s-popover"
                                                   data-se-share-sheet-title="Share a link to this answer" data-se-share-sheet-subtitle=""
                                                   data-se-share-sheet-post-type="answer" data-se-share-sheet-social="facebook twitter devto"
                                                   data-se-share-sheet-location="2" data-s-popover-placement="bottom-start"
                                                   aria-controls="se-share-sheet-1"
                                                   data-action=" s-popover#toggle se-share-sheet#preventNavigation s-popover:show->se-share-sheet#willShow s-popover:shown->se-share-sheet#didShow">share</a>
                                                <span class="lsep">|</span><a href="#"
                                                                              class="suggest-edit-post js-gps-track"
                                                                              data-gps-track="post.click({ item: 6, priv: 0, post_type: 2 })" title="">improve this answer</a>
                                            </div>
                                        </div>


                                        <!--User details-->
                                        <div class="post-signature grid--cell fl0">
                                            <div class="started fr">

                                                @{
                                                    Html.RenderAction("Get_User_Info_Partial", new { post_id = Model.Id });
                                                }

                                            </div>

                                        </div>


                                    </div>

                                </div>

                                <div class="js-post-notices post-layout--full">
                                </div>

                                <div class="post-layout--right " id="id-@item.Id">
                                    <div id="comments-58860635" class="comments js-comments-container bt bc-black-2 mt12 "
                                         data-post-id="58860635" data-min-length="15">

                                        <!--List of comments here...-->

                                        @{
                                            Html.RenderAction("Get_All_Comments_Partial", new { post_id = item.Id });
                                        }
                                    </div>

                                    <!--Add Comments link here..-->
                                    <div id="comments-link" class="" data-rep="50" data-anon="true">
                                        <div>
                                            <div>
                                                <div class="js-add-link comments-link disabled-link open-below-tag opened"
                                                     title="Use comments to ask for more information or suggest improvements. Avoid comments like “+1” or “thanks”.">add comment</div>
                                                <div class="hideable">
                                                    @using (Html.BeginForm("AddCommentFromSinglePost","Home",FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()

                                                        @Html.Hidden("post_id", @item.Id)
                                                        @Html.TextArea("discription", new
                                                              {
                                                                  @class = "wid style-textarea wmd-input js-wz-element s-input bar0 js-post-body-field",
                                                                  @id = "wmd-input",
                                                                  @name = "post-text",
                                                                  @cols = "42",
                                                                  @rows = "6",
                                                                  @tabindex = "101",
                                                                  @style = "max-width: 100%;"
                                                              })
                                                        <input type="submit" value="Add" />
                                                    }
                                                </div>
                                                <style>
                                                    .hideable {
                                                        visibility: hidden;
                                                        height: 0px;
                                                    }

                                                    .comments-link {
                                                        padding-bottom: 3px;
                                                        cursor: pointer;
                                                    }

                                                    .wid {
                                                        width: 240px;
                                                        max-width: 240px;
                                                    }
                                                </style>
                                                <script>

                                                    var mainc = document.querySelector("#id-@item.Id");
                                                    mainc.addEventListener('click', function (e) {
                                                        if (e.target.nodeName == "DIV") {
                                                            console.log(e.target);
                                                            var open = e.target;
                                                            if (open.classList.contains("open-below-tag") && open.classList.contains("opened")) {
                                                                var a = e.target.nextElementSibling;
                                                                a.classList.remove("hideable");
                                                                open.classList.remove("opened");
                                                                open.classList.add("closed");
                                                            } else if (open.classList.contains("open-below-tag") && open.classList.contains("closed")) {
                                                                var a = e.target.nextElementSibling;
                                                                a.classList.add("hideable");
                                                                open.classList.add("opened");
                                                                open.classList.remove("closed");
                                                            }
                                                        }
                                                    });
                                                </script>
                                                <style>
                                                    .underline {
                                                        border-bottom: 1px solid grey;
                                                        padding-top: 3px;
                                                        padding-bottom: 0px;
                                                    }

                                                    .hideable {
                                                        visibility: hidden;
                                                        height: 0px;
                                                    }
                                                </style>
                                            </div>
                                        </div>
                                        <span class="js-link-separator dno">&nbsp;|&nbsp;</span>

                                    </div>

                                </div>
                            </div>
                        </div>


                    }




                    @*<div id="dfp-bmlb" class="everyonelovesstackoverflow everyoneloves__bot-mid-leaderboard" data-dfp-zone="true"
                             data-google-query-id="CKnA16GK6uUCFVYpPwod0rUEXg" data-clc-ready="true" style="display: none;">
                            <div id="google_ads_iframe_/248424177/stackoverflow.com/bmlb/question-pages_0__container__"
                                 style="border: 0pt none; width: 728px; height: 90px;"></div>
                        </div>*@





                    <!--Post an answer to question....-->


                    <div class="js-add-answer-component post-form">
                        <input type="hidden" id="post-id" value="58860454">
                        <input type="hidden" id="qualityBanWarningShown" name="qualityBanWarningShown" value="false">
                        <input type="hidden" name="referrer" value="https://stackoverflow.com/questions/tagged/c%23">
                        <h2 class="space">
                            Your Answer
                        </h2>
                        <div id="post-editor" class="post-editor js-post-editor js-wz-element" data-wz-state="8,16,32,64,128,256">

                            <div class="ps-relative">

                                <div class="wmd-container mb8">
                                    <div id="wmd-button-bar" class="wmd-button-bar btr-sm">
                                        <ul id="wmd-button-row" class="wmd-button-row">
                                            <li id="wmd-bold-button" class="wmd-button" style="left: 0px;">
                                                <span style="background-position: 0px -20px;"></span>
                                            </li>
                                            <li id="wmd-italic-button" class="wmd-button" style="left: 25px;">
                                                <span style="background-position: -20px -20px;"></span>
                                            </li>
                                            <li id="wmd-spacer1" class="wmd-spacer" style="left: 50px;">
                                                <span style="background-position: -40px -20px;"></span>
                                            </li>
                                            <li id="wmd-link-button" class="wmd-button" style="left: 75px;">
                                                <span style="background-position: -40px -20px;"></span>
                                            </li>
                                            <li id="wmd-quote-button" class="wmd-button" style="left: 100px;">
                                                <span style="background-position: -60px -20px;"></span>
                                            </li>
                                            <li id="wmd-code-button" class="wmd-button" style="left: 125px;">
                                                <span style="background-position: -80px -20px;"></span>
                                            </li>
                                            <li id="wmd-image-button" class="wmd-button" style="left: 150px;">
                                                <span style="background-position: -100px -20px;"></span>
                                            </li>
                                            <li id="wmd-spacer2" class="wmd-spacer" style="left: 175px;">
                                                <span style="background-position: -120px -20px;"></span>
                                            </li>
                                            <li id="wmd-olist-button" class="wmd-button" style="left: 200px;">
                                                <span style="background-position: -120px -20px;"></span>
                                            </li>
                                            <li id="wmd-ulist-button" class="wmd-button" style="left: 225px;">
                                                <span style="background-position: -140px -20px;"></span>
                                            </li>
                                            <li id="wmd-heading-button" class="wmd-button" style="left: 250px;">
                                                <span style="background-position: -160px -20px;"></span>
                                            </li>
                                            <li id="wmd-hr-button" class="wmd-button" style="left: 275px;">
                                                <span style="background-position: -180px -20px;"></span>
                                            </li>
                                            <li id="wmd-spacer3" class="wmd-spacer" style="left: 300px;">
                                                <span style="background-position: -200px -20px;"></span>
                                            </li>
                                            <li id="wmd-undo-button" class="wmd-button" style="left: 325px;">
                                                <span style="background-position: -200px -20px;"></span>
                                            </li>
                                            <li id="wmd-redo-button" class="wmd-button" style="left: 350px;">
                                                <span style="background-position: -220px -20px;"></span>
                                            </li>
                                            <li class="wmd-spacer wmd-spacer-max"></li>
                                        </ul>
                                    </div>
                                    <div class="js-stacks-validation">
                                        <div class="ps-relative">
                                            @using (Html.BeginForm("AddAnswer", "Home", FormMethod.Post))
                                            {

                                                @Html.Hidden("post_id", (int)@ViewBag.QuestionId)

                                                @Html.TextArea("discription", new
                                                {
                                                    @class = "style-textarea wmd-input js-wz-element s-input bar0 js-post-body-field",
                                                    @id = "wmd-input",
                                                    @name = "post-text",
                                                    @cols = "92",
                                                    @rows = "15",
                                                    @tabindex = "101",
                                                    @style = "max-width: 100%;"
                                                })
                                                <input id="submit-button" class="grid--cell s-btn s-btn__primary s-btn__icon" value="Post Your Answer" type="submit" />

                                            }
                                        </div>

                                        <div class="s-input-message mt4 d-none js-stacks-validation-message"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- On click this should be visible.. Aside tag-->
                            <aside class="grid ai-start jc-space-between js-answer-help s-notice s-notice__warning pb0 pr4 pt4 mb8 d-none"
                                   role="status" aria-hidden="true">
                                <div class="grid--cell pt8">
                                    <p>Thanks for contributing an answer to Jay's QAs!</p>
                                    <ul>
                                        <li>Please be sure to <em>answer the question</em>. Provide details and share your research!</li>
                                    </ul>
                                    <p>But <em>avoid</em> …</p>
                                    <ul>
                                        <li>Asking for help, clarification, or responding to other answers.</li>
                                        <li>Making statements based on opinion; back them up with references or personal experience.</li>
                                    </ul>
                                </div>
                                <button class="grid--cell js-answer-help-close-btn s-btn s-btn__muted fc-dark">
                                    <svg aria-hidden="true" class="svg-icon iconClear" width="18" height="18" viewBox="0 0 18 18">
                                        <path d="M15 4.41L13.59 3 9 7.59 4.41 3 3 4.41 7.59 9 3 13.59 4.41 15 9 10.41 13.59 15 15 13.59 10.41 9 15 4.41z">
                                        </path>
                                    </svg>
                                </button>
                            </aside>

                        </div>

                        <!-- Submit button .....-->
                        <div class="form-submit cbt grid gsx gs4">


                            <button class="grid--cell s-btn s-btn__danger discard-answer dno">
                                Discard
                            </button>
                            <p class="privacy-policy-agreement">
                                By clicking “Post Your Answer”, you agree to our <a href="#" name="tos" target="_blank"
                                                                                    class="-link">terms of service</a>, <a href="#"
                                                                                                                           name="privacy" target="_blank" class="-link">privacy policy</a> and <a href="#" name="cookie" target="_blank"
                                                                                                                                                                                                  class="-link">cookie policy</a><input type="hidden" name="legalLinksShown" value="1">
                            </p>
                        </div>
                        <div class="js-general-error general-error cbt d-none"></div>

                    </div>



                    <!-- A helper tag functionality..-->
                    <h2 class="bottom-notice" data-loc="1">
                        Not the answer you're looking for?
                        <div>
                            Browse other questions tagged
                            @{
                                Html.RenderAction("AllTags", new { post_id = (int)@ViewBag.QuestionId });
                            }
                            or <a href="/questions/ask">ask your own question</a>.
                        </div>
                    </h2>
                </div>
            </div>


        </div>
    </div>


</div>
<div class="deleteANdRender">
    @if (@ViewBag.CurrentFilter == null)
    {

        Html.RenderAction("SearchGoogle", new { searchString = "winnipeg" });

    }
    else
    {

        Html.RenderAction("SearchGoogle", new { searchString = ViewBag.CurrentFilter as string });

    }


</div>
@*<script>
        var google = document.querySelector(".onclikGooGle");
        google.addEventListener('click', function (e) {
            console.log(e.target.textContent);
            var val = e.target.textContent;
            var ele = document.querySelector(".enterLinks");
            var link = document.createElement("a");
            link.setAttribute("href", "/Home/SearchGoogle/searchString?=" + val);
            ele.appendChild(link);
            ele.click();
        });
    </script>*@

<script>
    var main = document.querySelector(".main");
    main.addEventListener('click', function (e) {
        if (e.target.nodeName == "DIV") {
            var open = e.target;
            if (open.classList.contains("open-below-tag") && open.classList.contains("opened")) {
                var a = e.target.nextElementSibling;
                a.classList.remove("hideable");
                open.classList.remove("opened");
                open.classList.add("closed");
            } else if (open.classList.contains("open-below-tag") && open.classList.contains("closed")) {
                var a = e.target.nextElementSibling;
                a.classList.add("hideable");
                open.classList.add("opened");
                open.classList.remove("closed");
            }
        }
    });

</script>
<script>
    var google = document.querySelector(".onclikGooGle");
    var allLinks = document.querySelectorAll(".onclikGooGle a");
    for (var i = 0; i < allLinks.length; i++) {
        allLinks[i].setAttribute("href", "#");
        console.log("ok");
    }
</script>
