@model PagedList.IPagedList<QA_Project.Models.User_Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "User_Post";
}

<h2>QAs</h2>

<p>
    @Html.ActionLink("Ask Question", "Create_Question")
</p>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
                @if (item.Acceptance_Of_Post == true)
                {
                    <span>Accepeted</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedOn)
            </td>
            <td>
                @{
                    Html.RenderAction("AllTags", new { post_id = item.Id });
                }
            </td>
            <td>
                @{
                    Html.RenderAction("AllFollowedPost", new { post_id = item.Id });
                }
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))