@model QA_Project.Models.User_Vote_Of_Post

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User_Vote_Of_Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Voter_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voter_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voted_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voted_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post_Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
